*.exe
*/*.exe
*/*/*.exe
*/*/*/*.exe
*/*/*/*/*.exe
*/*/*/*/*/*.exe
*/*/*/*/*/*/*.exe
*/*/*/*/*/*/*/*.exe
*/*/*/*/*/*/*/*/*.exe
*/*/*/*/*/*/*/*/*/*.exe
*/*/*/*/*/*/*/*/*/*/*.exe
*.msi
*/*.msi
*/*/*.msi
*/*/*/*.msi
*/*/*/*/*.msi
*/*/*/*/*/*.msi
*/*/*/*/*/*/*.msi
*/*/*/*/*/*/*/*.msi
*/*/*/*/*/*/*/*/*.msi
*/*/*/*/*/*/*/*/*/*.msi
*/*/*/*/*/*/*/*/*/*/*.msi